.el-collapse {
  --el-collapse-header-text-color: var(--app-text-color-light);
  --el-collapse-header-bg-color: none;
  --el-collapse-content-text-color: var(--app-text-color);
  --el-collapse-content-bg-color: none;
  --el-collapse-border-color: var(--app-border-color);
}